node_modules
dist
*.local
.DS_Store
.env
server/.env
server/prisma/*.db
server/prisma/*.db-journal
server/prisma/**/*.db
server/prisma/**/*.db-journal
client/dist
client/.next
client/out
server/static-app
